body {
	background-color: #e9f776;
	font-family: arial, helvetica, sans-serif; 
	font-size: 10pt;
}
h1 {text-align: center;}

a.nodec {text-decoration: none;}
a:hover {text-decoration: underline; color: red;}
li em {color: blue;}
em {text-decoration: underline;}
ul {margin-left: 50px;}
ul ul {margin-left: 25px; font-size: .8em;}